<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Orakulas</title>
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/orakulasmain/js/extjs/resources/css/ext-all.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/orakulasmain/css/icons.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/orakulasmain/css/styles.css') }}" />
		
		<!-- JS -->
		<script type="text/javascript" src="{{ asset('bundles/orakulasmain/js/extjs/ext-debug.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/orakulasmain/js/config.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/orakulasmain/js/app.js') }}"></script>
	</head>
	<body>
		
		<!-- -->
		
	</body>
</html>
